<div class="container">
    <div class="row justify-content-center " style="height: 800px;">
        <div class="row text-center align-items-center">
            <h4>Recover</h4>
        </div>
        <div class="col-lg-3 text-dark bg-transparent" style="height: 530px">
            <form>
                <div class="form-group">
                    <div class="form-floating mt-4 mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Recover">
                        <label for="floatingInput">E-mail Address</label>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-primary" type="button">Recover</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>